APP_NAME=ShopSphere
APP_ENV=development
DEBUG=true
SERVICE_NAME=auth-service

POSTGRES_DB=shopsphere_auth
POSTGRES_USER=shopsphere
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://shopsphere:change-me@postgres:5432/shopsphere_auth

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30